/* CSS declarations go here */

div[role="container1"] {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid red;
}

div[role="container2"] {
  display: inline-block;
  width: 400px;
  height: 300px;
  border: 1px solid blue;
}

map-view {
  /* Example of overriding the default size of the element. */
  height: 100%;
  width: 100%;
}
